doctype html
block content
  p Hello, #{name}
  form(action='/newSpace', method='get')
    input#button.button(type='submit', value='List a New Space')

  - for (var i=0; i<spaces.length; i++)
    p Name: #{spaces[i].name}
    p Description: #{spaces[i].description}
    p Price Per Night: #{spaces[i].price}
    p Date Avliable: #{spaces[i].date}
    form(action='/book/#{spaces[i].id}', method='post')
      input.button(type='submit' id='#{spaces[i].id}', value='Book')
